@use "./vars" as *;

* {
	box-sizing: border-box;
}

body {
	padding: 0 !important;
	margin: 0;
	font-family: $text;
	font-size: $text-desktop-size;
	background-color: $background-color;
	color: $primary-text-color;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title;
	text-transform: uppercase;
}

h1 {
	font-weight: 700;
}

::placeholder {
	text-transform: uppercase;
	font-family: $code;
	color: $secondary-text-color;
}

input {
	font-family: $code;
	color: $secondary-text-color;
	text-transform: uppercase;
	border-radius: $input-radius;
	border: 1px solid $border-color;
	padding: $space-1;
	background-color: $surface-color;

	&:focus {
		outline: none;
		border-color: $primary-color;
	}
}

h1 {
	font-size: $h1-mobile-size;

	@media screen and (min-width: 700px) {
		font-size: $h1-desktop-size;
	}
}

main {
	margin-top: 5rem;
}
