.projectSelectorCard {
	display: flex;
	align-items: center;
	gap: $space-2;
	cursor: pointer;
	background-color: $surface-color;
	border-radius: $card-radius;
	padding: $space-2;

	img {
		max-width: 4rem;
		max-height: 4rem;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: $card-radius;
		box-shadow: $shadow;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: $space-1;
	}

	h4 {
		color: $tertiary-color;
		margin: 0;
	}

	&__weapons {
		margin: 0;
		font-family: $code;
		font-size: 0.85rem;
		color: $secondary-text-color;
		display: flex;
		flex-wrap: wrap;
		gap: 0.3rem;

		span::before {
			content: "#";
			color: $primary-color;
		}
	}
}
